<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="calculatorModule">
<head>
    <title>ToDo List (Task2)</title>


    <link href="../../Libraries/bootstrap.css" rel="stylesheet"/>
    <link href="../../Libraries/bootstrap-theme.css" rel="stylesheet"/>
    <style>
        body{
            min-width: 550px;
        }

        h3{
            text-align: center;
        }

        .result-label {
            font-size:18px ;
        }
    </style>

    <script src="../../Libraries/angular.js"></script>
    <script src="module.js"></script>
    <script src="controller.js"></script>


</head>
<body ng-controller="MainCtrl">

<div class="container">
    <h3>Enter your values for expression</h3>
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="value1">Value 1</span>
                <input type="number" class="form-control" placeholder="" ng-model="value1">
            </div>
        </div>

        <div class="col-lg-6">
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="value2">Value 2</span>
                <input type="number" class="form-control" placeholder="" ng-model="value2">

            </div>
        </div>
    </div>
    <h3>Operatins</h3>
    <div class="btn-group-lg" role="group" aria-label="...">
        <button type="button" class="btn btn-primary" ng-click="getSum()">+</button>
        <button type="button" class="btn btn-success" ng-click="getSubtraction()">-</button>
        <button type="button" class="btn btn-default" ng-click="getMultiplication()">*</button>
        <button type="button" class="btn btn-danger" ng-click="getDivision()">/</button>
    </div>
    <br>
    <h3>Expression result</h3>

    <h4><span class="label label-warning result-label">{{result}}</span></h4>


</div>
</body>
</html>
