<div class="panel well">
    <form name="contactForm">
        <label>Username:   <input type="text" class="input-lg form-control" name="userName" /></label><br />
        <label>Login:   <input type="text" class="input-lg form-control" name="login" /></label><br />
        <label>Password:   <input type="password" class="input-lg form-control" name="password" /></label><br />
        <label>Email: <input type="email" class="input-lg form-control" name="userEmail" /></label><br />
        <input type="submit" class="btn-lg btn-primary center-block">
    </form>
</div>